<%- include('partials/header') %>
    <!-- GOOGLE IMG -->
    <div class="google">
        <a href="#" id="google_logo"><img src="/img/logo.svg" alt="google logo logo.svg" /></a>
    </div>

    <!-- FORM SEARCH -->
    <div class="form">
        <form action="/search" method="GET">
            <label for="form-search"></label>
            <input type="text" id="form-search" class="shadow-sm" placeholder="Search Google or type URL" name="search">
            <div class="buttons">
                <button id="google_search" class="btn">Google Search</button>
                <button id="im_feeling_lucky" class="btn">I'm Feeling Lucky</button>
            </div>
        </form>
    </div>

    <!-- BUTTONS -->

    <%- include('partials/footer') %>