body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #202124;
    min-height: 100%;
    position: relative;
}

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
}

header {
    width: 100%;
}

ul {
    list-style: none;
}

#nav_bar {
    float: right;
    margin-top: 10px;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #sign_in {
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
}

.nav-links {
    color: #fcfcfc;
    font-size: small;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

#sign_in:hover {
    box-shadow: 1px 1px 5px #999;
}

#sign_in {
    color: #fff;
}

.google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
    width: 40%;
}

@media (max-width: 600px) {
    .google {
        padding: 0 18px 0 18px;
    }
    .google #google_logo {
        width: auto;
    }
}

.form {
    text-align: center;
}

#form-search {
    width: 540px;
    line-height: 42px;
    padding: 20px 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background: none;
    outline: none;
    color: #e8eaed;
    word-wrap: break-word;
    font-size: 16px;
}

.form #form-search {
    padding: 0 8px;
}

#form-search:hover {
    border-color: #e4e4e4;
    padding-top: 0;
    background: #303134;
    border: none;
}

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
}

.buttons button {
    background: #303134;
    color: #ffffff;
    border: 1px solid #303134;
}

.buttons button:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}


/* FOOTER */

footer {
    background: #171717;
    position: fixed;
    bottom: 0;
    padding: 10px 0 0 0;
    width: 100%;
}

footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 13px;
}

footer ul {
    float: left;
    padding: 1px;
}

footer ul a:hover {
    text-decoration: underline;
}

.footer-right {
    float: right;
}


/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    li.nav-links a {
        display: none;
    }
    #google_logo {
        padding: 0;
    }
    .buttons {
        display: none;
    }
    #form-search {
        width: 80%;
    }
    footer {
        bottom: 0;
    }
    footer ul {
        float: none;
        padding-bottom: 2px;
    }
    .footer-left {
        text-align: center;
        margin: auto;
        padding-top: 10px;
    }
    .footer-right {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 565px) {
    li.nav-links a {
        display: none;
    }
    #google_logo {
        padding: 0;
    }
    .buttons {
        display: none;
    }
    #form-search {
        width: 80%;
    }
    footer {
        /*    bottom: 0;
     postion: absolute; */
        bottom: 0;
        width: 100%;
    }
    footer ul {
        float: none;
        padding-bottom: 2px;
    }
    .footer-left {
        text-align: center;
        margin: auto;
        padding-top: 10px;
    }
    .footer-right {
        float: none;
        text-align: center;
    }
}


/* .....  */

#topbar {
    display: flex;
    height: 64px;
    width: 100%;
    align-items: flex-end;
    position: fixed;
    background-color: #202124;
}

#searchbarimage {
    height: 30px;
    padding: 0px 28px 10px 30px;
    cursor: pointer;
}

#searchbarmic {
    height: 45px;
    width: 35px;
    margin-left: auto;
    background-color: white;
}

#searchbarmic img {
    height: 25px;
}

#searchbarbutton {
    height: 45px;
    width: 55px;
    position: relative;
    margin-right: -2px;
    background-color: transparent;
    color: #86aeee;
}

#searchbarbutton svg {
    height: 25px;
    width: 35px;
    position: relative;
    left: -3px;
}

#searchbarbutton svg path {
    fill: #4285F4
}

#searchbar {
    width: 625px;
    height: 45px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    position: relative;
    bottom: 5px;
    overflow: hidden;
    display: flex;
    z-index: 100;
}

#searchbar:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#searchbar>input {
    height: 45px;
    border-style: none;
    font-size: 16px;
    line-height: 45px;
    padding-left: 20px;
    flex: 1;
}

#searchbar>input:focus {
    outline: none;
}

#searchbar button {
    border: none;
    cursor: pointer;
}

#searchbar button:focus {
    outline: none;
}

#optionsmenuactive::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #4285F4;
    left: 5px;
    bottom: 0px;
}

#optionsmenu2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    margin-left: 100px;
}

#optionsmenu2 li {
    padding: 0px 10px 15px 20px;
}

#searchresultsarea {
    margin-left: 150px;
    font-family: 'Arial';
}

#searchresultsnumber {
    font-size: 0.8rem;
    color: gray;
}


/* image carosole */

.searchresult {
    margin-left: 8px;
}

.searchresult h2 {
    font-size: 19px;
    line-height: 18px;
    font-weight: normal;
    color: #8ab4f8;
    margin-bottom: 0px;
    /* margin-top: 25px; */
}

.searchresult a {
    font-size: 14px;
    line-height: 14px;
    color: #fcfcfc;
    margin-bottom: 0px;
    margin-top: 8px;
}

.searchresult button {
    font-size: 10px;
    line-height: 14px;
    color: green;
    margin-bottom: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: white;
}

#optionsbar {
    width: 100%;
    height: 50px;
    border-width: 0px;
    border-bottom: 1px;
    margin-bottom: 2px;
    border-color: #3a3e41;
    border-style: solid;
    display: flex;
    align-items: flex-end;
    font-family: 'Arial';
    font-size: 13px;
    color: rgb(112, 112, 112);
    padding-top: 64px;
}

#optionsmenu1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    margin-left: 150px;
}

#optionsmenu1 li {
    padding: 0px 10px 15px 20px;
}

#optionsmenuactive {
    color: #4285F4;
    font-weight: bold;
    position: relative;
    z-index: -1;
}

.searchresult p {
    width: 625px;
    font-size: 13px;
    margin-top: 0px;
    color: rgb(82, 82, 82);
}

.relatedsearches h3 {
    font-weight: normal;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.relatedlists ul {
    list-style: none;
    color: rgb(29, 1, 189);
    padding-left: 0px;
    font-size: 14px;
    margin-bottom: 50px;
}

.relatedlists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.relatedlists ul li {
    margin-bottom: 8px;
}

.pagelist {
    list-style: none;
    color: rgb(29, 135, 255);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.pagelistprevious::before {
    content: '<';
    display: block;
    position: absolute;
    right: 12px;
    top: -35px;
    color: rgb(29, 135, 255);
    font-size: 20px;
    transform: scale(0.7, 1.2);
}

.pagelistprevious::after {
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    top: -35px;
    width: 40px;
    height: 40px;
    background-image: url('images/g.png');
    background-repeat: no-repeat;
    background-size: 28px;
}

.pagelistfirst {
    margin-left: 20px;
    font-size: 13px;
}

.pagelistnumber::before,
.pagelistfirst::before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    top: -21px;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: white;
    z-index: 3;
}

.pagelistnumber::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 196, 0);
    z-index: 2;
}

.pagelistfirst::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: red;
    z-index: 2;
}

.pagelist li {
    margin-right: 15px;
    position: relative;
}

.pagelistnext {
    margin-left: 40px;
    font-size: 13px;
}

.pagelistnext::before {
    content: '>';
    display: block;
    position: absolute;
    left: 5px;
    top: -35px;
    color: rgb(29, 135, 255);
    font-size: 20px;
    transform: scale(0.7, 1.2);
}

.pagelistnext::after {
    content: '';
    display: block;
    position: absolute;
    left: -55px;
    top: -37px;
    width: 50px;
    height: 50px;
    background-image: url('images/gle.png');
    background-repeat: no-repeat;
    background-size: 48px;
}

#footer {
    background-color: rgb(238, 238, 238);
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 13px;
    font-family: 'arial';
    color: rgb(85, 85, 85);
}

#footermenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 135px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#footermenu li {
    padding-right: 30px;
}

#footerlocation {
    display: flex;
    direction: row;
    margin-left: 175px;
    position: relative;
    top: -5px;
}

#footerlocation p:nth-of-type(1) {
    font-weight: bold;
}