body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #202124;
}

header {
    width: 100%;
}

ul {
    list-style: none;
}

#nav_bar {
    float: right;
    margin-top: 10px;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #sign_in {
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
}

.nav-links {
    color: #fcfcfc;
    font-size: small;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

#sign_in:hover {
    box-shadow: 1px 1px 5px #999;
}

#sign_in {
    color: #fff;
}

.google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
    width: 40%;
}

@media (max-width: 600px) {
    .google {
        padding: 0 18px 0 18px;
    }
    .google #google_logo {
        width: auto;
    }
}

.form {
    text-align: center;
}

#form-search {
    width: 540px;
    line-height: 42px;
    padding: 20px 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background: none;
    outline: none;
    color: #e8eaed;
    word-wrap: break-word;
    font-size: 16px;
}

.form #form-search {
    padding: 0 8px;
}

#form-search:hover {
    border-color: #e4e4e4;
    padding-top: 0;
    background: #303134;
    border: none;
}

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
}

.buttons button {
    background: #303134;
    color: #ffffff;
    border: 1px solid #303134;
}

.buttons button:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}


/* FOOTER */

footer {
    background: #171717;
    position: fixed;
    bottom: 0;
    padding: 10px 0 0 0;
    width: 100%;
}

footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 13px;
}

footer ul {
    float: left;
    padding: 1px;
}

footer ul a:hover {
    text-decoration: underline;
}

.footer-right {
    float: right;
}


/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    li.nav-links a {
        display: none;
    }
    #google_logo {
        padding: 0;
    }
    .buttons {
        display: none;
    }
    #form-search {
        width: 80%;
    }
    footer {
        bottom: 0;
    }
    footer ul {
        float: none;
        padding-bottom: 2px;
    }
    .footer-left {
        text-align: center;
        margin: auto;
        padding-top: 10px;
    }
    .footer-right {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 565px) {
    li.nav-links a {
        display: none;
    }
    #google_logo {
        padding: 0;
    }
    .buttons {
        display: none;
    }
    #form-search {
        width: 80%;
    }
    footer {
        /*    bottom: 0;
     postion: absolute; */
        bottom: 0;
        width: 100%;
    }
    footer ul {
        float: none;
        padding-bottom: 2px;
    }
    .footer-left {
        text-align: center;
        margin: auto;
        padding-top: 10px;
    }
    .footer-right {
        float: none;
        text-align: center;
    }
}